<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Contensive.CPBaseClass" version="23.12.13.1" targetFramework="net472" />
  <package id="Contensive.DbModels" version="23.10.30.5" targetFramework="net472" />
  <package id="Contensive.DesignBlockBase" version="23.10.6.10" targetFramework="net472" />
</packages>